In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('loan (1).csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [6]:
le=LabelEncoder()
df['Property_Area']=le.fit_transform(df['Property_Area'])

In [7]:
df['Property_Area'].unique()

array([2, 0, 1])

In [10]:
df1=pd.DataFrame({'name':['wscube Tech','Cow','Dog','Cat','Lion']})
df1

          name
0  wscube Tech
1          Cow
2          Dog
3          Cat
4         Lion

In [14]:
la=LabelEncoder()
df1['En_Data']=la.fit_transform(df1['name'])

In [15]:
df1

          name  En_Data
0  wscube Tech        4
1          Cow        1
2          Dog        2
3          Cat        0
4         Lion        3